---
- name: import generic tasks
  import_tasks: common.yml

- name: include vars
  include_vars: vars/vars.yml

- name: install glance
  apt:
    name: ['glance', 'python-memcache']
    state: latest

- name: configure glance api
  ini_file:
    path: /etc/glance/glance-api.conf
    section: "{{item.section}}"
    option: "{{item.option}}"
    value: "{{item.value}}"
  with_items:
    - { section: "database", option: "connection", value: "mysql+pymysql://glance:{{password}}@mysql/glance" }
    - { section: "keystone_authtoken", option: "auth_uri", value: "http://keystone:5000" }
    - { section: "keystone_authtoken", option: "auth_url", value: "http://keystone:35357" }
    - { section: "keystone_authtoken", option: "memcached_servers", value: "keystone:11211" }
    - { section: "keystone_authtoken", option: "auth_type", value: "password" }
    - { section: "keystone_authtoken", option: "project_domain_name", value: "Default" }
    - { section: "keystone_authtoken", option: "user_domain_name", value: "Default" }
    - { section: "keystone_authtoken", option: "project_name", value: "service" }
    - { section: "keystone_authtoken", option: "username", value: "nova" }
    - { section: "keystone_authtoken", option: "password", value: "{{password}}" }
    - { section: "paste_deploy", option: "flavor", value: "keystone" }
    - { section: "glance_store", option: "stores", value: "file,http" }
    - { section: "glance_store", option: "default_store", value: "file" }
    - { section: "glance_store", option: "filesystem_store_datadir", value: "/var/lib/glance/images/" }
  notify:
    - restart glance-api

- name: initiate glance database
  shell: su -s /bin/sh -c "glance-manage db_sync" glance && touch /root/.ansible_initiate_glance_db
  args:
    creates: /root/.ansible_initiate_glance_db
