- name: restart glance-api
  service:
    name: "{{item}}"
    state: restarted
  with_items:
    - "glance-api"
- name: restart glance-registry
  service:
    name: "{{item}}"
    state: restarted
  with_items:
    - "glance-registry"
