export OS_USERNAME={{openrc_user}}
export OS_PASSWORD={{openrc_password}}
export OS_PROJECT_NAME={{openrc_project}}
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL={{openrc_auth_url}}
export OS_IDENTITY_API_VERSION=3
export debian_chroot=$OS_USERNAME
